<div class="container w-100">
  <div class="row w-100 mt-5">
    <div class="col-md-12">
      <h1 class="texto text-center">Sejam Bem Vindos!</h1>
    </div>
  </div>
  <div class="row w-100 mt-4 mb-4">
    <div class="col-md-12">
      <p class="text-justify texto">
        Sua vida é sua vida Não deixe que ela seja esmagada na fria submissão.
        Esteja atento. Existem outros caminhos. E em algum lugar, ainda existe
        luz. Pode não ser muita luz, mas ela vence a escuridão Esteja atento. Os
        deuses vão lhe oferecer oportunidades. Reconheça-as. Agarre-as. Você não
        pode vencer a morte, mas você pode vencer a morte durante a vida, às
        vezes. E quanto mais você aprender a fazer isso, mais luz vai existir.
        Sua vida é sua vida. Conheça-a enquanto ela ainda é sua. Você é
        maravilhoso. Os deuses esperam para se deliciar em você. 
      </p>
    </div>
  </div>
</div>
<div class="parallax">
    
    
</div>

<div class="row w-100 mt-s mb-5">
  <div class="col-md-12 w-100 d-flex justify-content-center">
    <button class="btn btn-outline-dark text-uppercase font-weight-bold">
      Ver o Feed
    </button>
  </div>
</div>
