@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");

.texto {
  font-family: "Syne Tactile", cursive;
}

.parallax {

 background-image: url('/assets/img/Sad-Clown.jpg');
  min-height: 500px;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
