<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Call to action -->
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-light texto font-weight-bold">Siga-me nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a
              href="https://github.com/Mariotti7"
              target="_blank"
              class="icoGithub"
              title="Github"
            >
              <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/leandromariotti/?hl=pt-br"
              target="_blank"
              class="icoInstagram"
              title="Instagram"
            >
              <fa-icon
                [icon]="faInstagram"
                class="faInstagram fa-3x p-3"
              ></fa-icon>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/leandromariotti"
              target="_blank"
              class="icoLinkedin"
              title="Linkedin"
            >
              <fa-icon
                [icon]="faLinkedin"
                class="faLinkedin fa-3x p-3"
              ></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Call to action -->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright b-color text-center py-3">
    <span class="text-light texto text-uppercase font-weight-bold"> ©2020 mariotti&reg; </span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
