<div class="card border-0" style="width: 18rem">
  <div class="d-flex justify-content-center">
    <img
      class="card-img-top rounded-circle w-75"
      src="/assets/img/me.jpg"
      alt="Imagem de capa do card"
    />
  </div>

  <div class="card-body">
    <h5 class="card-title text-center txtnome">{{userName.usuario}}</h5>
    <p class="card-text text-center txtdescr">
      Desenvolvedor Web Full Stack que nas horas vagas é pai, músico, jiu
      jiteiro, fisiculturista e bem humorado.
    </p>
    <a
      href="https://www.linkedin.com/in/leandromariotti/"
      target="_blank"
      class="btn btn-outline-linkedin mb-3 d-flex justify-content-center"
      >Linkedin</a
    >

    <a
      href="https://www.instagram.com/leandromariotti/?hl=pt-br"
      target="_blank"
      class="btn btn-outline-instagram d-flex justify-content-center"
      >Instagram</a
    >

    <a
    href="https://github.com/Mariotti7"
    target="_blank"
    class="btn btn-outline-github mt-3 d-flex justify-content-center"
    >GitHub</a
  >
  </div>
</div>
